$content-with: (
  1500px: 1382px,
  1280px: 1250px,
  1024px: 885px,
  930px: 820px, 
  600px: 380px,
);

$breakpoint: (
  s1500px: 1500px,
  s1280px: 1280px,
  s1024px: 1024px,
  s930px: 930px, 
  s660px: 660px,
  s600px: 600px,
);


$themes: (
  light: (
    text: #303233,
    text-light: #fff,
    bg: #fff,
    bg-form: #f5f7fa,
    grey: #959799,
    grey-light: #d4d7d9,
    id: #6e7070,
    accent: #71a2ff,
    accent-hover: #4b86f6,
    step: #becee3,
    new: #d92121,
  ),
  dark: (
    text: #fff,
    text-light: #fff,
    bg: #333,
    bg-form: #f5f7fa,
    grey: #959799,
    grey-light: #d4d7d9,
    id: #6e7070,
    accent: #71a2ff,
    accent-hover: #4b86f6,
    step: #becee3,
    new: #d92121,
  ),
);

// $colors: (
//   bg-light: #fff,
//   bg-dark: #333,
// );

$font-sizes: (
    main: 16px,
    d-small: 14px,
    d-tiny: 12px,
    d-title: 24px,
);

$font-weights: (
    regular: 400,
    medium: 600,
    bold: 700,
);

$line-height: (
    main: 150%,
)